/* get sum w0bm stickers fool! */

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #888888;
    background: #161618;
}

h3 {
    margin-top: 0;
}

div#content {
    margin-left: 2vw;
    margin-right: 2vw;
    display: grid;
    grid-template-columns: 50% 50%;
}

div#content > div.box:first-of-type > h2 {
    margin-bottom: 0;
}

div#content > div.box:first-of-type > h2 + p {
    margin-top: 0;
}

div#content > div.box:first-of-type, div#content > h1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

div#content > div.box:not(:first-of-type) {
    grid-row-start: 3;
}

div#content > * {
    margin: 5px;
}

img[alt="w0bm logo"] {
    float: right;
    filter:
        drop-shadow(-4px 0 0 white)
        drop-shadow(4px 0px 0 white)
        drop-shadow(0 -4px 0 white)
        drop-shadow(0 4px 0 white);
}

div.box {
    background: #232222;
    border: 1px solid black;
    padding: 10px;
}

a {
    color: #008fff;
    cursor: pointer !important;
}

div#overlay_veil {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
}

div#overlay_content {
    background-color: #232222;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: table;
    padding: 20px;
}

form[action="add_order.php"] tr > td:first-of-type {
    vertical-align: top;
}

table#order_overview {
    background-color: #161618;
    padding: 5px;
    border-radius: 5px;
}

table#order_overview tr > td:last-of-type {
    text-align: right;
}

table#order_overview tr:last-of-type > td:last-of-type {
    border-top: 1px solid #888888;
    margin-top: 5px;
}

span#order_id {
    font-weight: bold;
}

div#payment {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

/* flash */
div#flash {
    position: fixed;
    top: -22px;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

div#flash.error {
    background-color: #fddfdf;
    border-bottom: 2px solid #f1a899;
    color: #5f3f3f;
}
div#flash.success {
    background-color: #4caf50;
    border-bottom: 2px solid #006018;
    color: #001c07;
}
div#flash.warn {
    background-color: #fffa90;
    border-bottom: 2px solid #dad55e;
    color: #777620;
}

p#payment_result {
    font-weight: bold;
    font-size: 1.5em;
}

p#payment_result.success {
    color: green;
}

p#payment_result.error {
    color: red;
}

p#payment_result > span.payment_warn {
    color: yellow;
}
